body {
    margin: 0;
    padding: 0;
  }
  * {
    font-family: "Arial", sans-serif;
  }
  .container {
    padding: 100px 25%;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    font-size: 1.2em;
    color: #7a0c0c;
  }
  #searchbar {
     padding: 15px;
     border-radius: 5px;
     border-color:#ff2626;
  }
  input[type=text] {
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
  }
  #list {
    border: 5px solid #ff2626;
    border-radius: 5px;
    display: none;
 }
 .listItem {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 5px 20px;
    color: black;
 }
 .listItem:hover {
    background-color: rgb(197, 110, 110);
 }